  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Sherlock Homework</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> My Profile</a></li>
        <li><a href="/#/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
  </nav>

  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Report</h4>
        </div>
        <div class="modal-body">
        </div>
      </div>
    </div>
  </div>


  <div class="container clearfix">
  <div class="course-menu column">
  <h4>Your Courses</h4>
  <ul class="nav nav-pills nav-stacked">
    <li class="nav-item">
      <a class="nav-link" href="#">Managing Software Development</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Web Development</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Database Management System</a>
    </li>
  </ul>
</div>
    <div class="assign-page column">
      <h3 id="page-title">Edit Assignment</h3>
      <div class="create-course-form">
        <div class="form-group">
          <label for="new-course-name">Assignment Name</label>
          <input type="text" class="form-control" ng-model="model.assignment.assignmentName" id="new-assignment-name" ng-value="assignmentName">
        </div>
        <div class="form-group">
          <label for="new-course-id">Assignment ID</label>
          <input type="text" class="form-control" ng-model="model.assignment.assignmentId" id="new-assignment-id" ng-value="assignmentId" readonly>
        </div>
        <button class="btn btn-success" ng-click="model.patchAssignment(model.assignment)">Submit</button>
      </div>
      <hr>

    </div>
  </div>
