
<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Sherlock Homework</a>
		</div>
		<ul class="nav navbar-nav">
			<li class="active"><a href="#">Home</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="#"><span class="glyphicon glyphicon-user"></span>
					My Profile</a></li>
			<li><a href="/#/"><span class="glyphicon glyphicon-log-out"></span>
					Logout</a></li>
		</ul>
	</div>
</nav>

<div class="container clearfix">
	<div class="course-menu column">
		<h4>Your Courses</h4>
		<ul class="nav nav-pills nav-stacked">
			<li class="nav-item"><a class="nav-link" href="#">Managing
					Software Development</a></li>
			<li class="nav-item"><a class="nav-link" href="#">Web
					Development</a></li>
			<li class="nav-item"><a class="nav-link" href="#">Database
					Management System</a></li>
		</ul>
	</div>
	<div class="assign-page column">
		<h3 id="course-title">Course: Managing Software Development</h3>
		<h4 id="semester-name">Spring 2018</h4>
		<hr>
		<h4>Create new assignment</h4>
		<div class="create-assign-form">
			<div class="form-group">
				<label for="new-assign-name">Name</label> <input type="text"
					ng-model="model.assignment.assignmentName" class="form-control"
					id="new-assign-name">
			</div>
			<div class="form-group">
				<label for="new-assign-desc">Description</label>
				<textarea class="form-control" rows="4"
					ng-model="model.assignment.assignmentDetails" id="new-assign-desc"></textarea>
			</div>
			<div class="form-group">
				<label for="new-assign-date">Due Date</label>
				<div class='input-group date'>
					<input type='text' id='datetimepicker1' class="form-control" />
					<span class="input-group-addon"> <span
						class="glyphicon glyphicon-calendar"></span>
					</span>
				</div>
			</div>
			<div class="form-group">
				<label for="new-assign-language">Select language for
					Assignment</label> 
					<select class="form-control" rows="4" ng-model="model.assignment.language" id="new-assign-desc">
					<option>java</option>
					<option>python</option>
				</select>
			</div>
			<button ng-click="model.addAssignment(model.assignment)"
				type="button" class="btn btn-primary" style="width: 10%;">
				<b>Create</b>
			</button>
			<button type="button" class="btn btn-danger" style="width: 10%;">
				<b>Discard</b>
			</button>

		</div>

	</div>
</div>
<script src="js/assignment-helper.js"></script>
