
<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Sherlock Homework</a>
		</div>
		<ul class="nav navbar-nav">
			<li class="active"><a href="#">Home</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="#"><span class="glyphicon glyphicon-user"></span>
					My Profile</a></li>
			<li><a href="" ng-click="model.logout()"><span
					class="glyphicon glyphicon-log-out"></span> Logout</a></li>
		</ul>
	</div>
</nav>


<div class="container clearfix">
	<div class="course-menu column">
		<h4>Your Courses</h4>
		<ul class="nav nav-pills nav-stacked">
			<li class="nav-item"><a class="nav-link" href="#/admin/addUser">Add
					an user</a></li>
			<li class="nav-item"><a class="nav-link" href="#">View all
					Users</a></li>
			<li class="nav-item"><a class="nav-link" href="/admin/setSemester"
				>Set Current Semester</a></li>
		</ul>

	</div>
	<div class="assign-page column">
		<hr>

		<div class="create-course-form">

			<h3 id="regis-title">Set Current Semester</h3>
			<div ng-if="reg_error != ''" class="alert alert-warning login-alert">
				<strong>Error!</strong> {{reg_error}}.
			</div>
			<div ng-if="reg_succ != ''" class="alert alert-success login-alert">
				<strong>Success!</strong> {{reg_succ}}.
			</div>
			<div class="form-group">
				<label for="new-course-sem">Semester</label> <select
					class="form-control" ng-model="model.semester.is_current"
					id="new-course-sem">
					<option ng-repeat="y in semlist" value="{{y.semesterId}}">{{y.name}}</option>
				</select>
			</div>
			<button ng-click="model.setSemester(model.semester)"
				class="btn btn-success">Submit</button>
			<button ng-click="model.cancel()" class="btn btn-danger">Cancel</button>
		</div>
	</div>
</div>